.box {
    background: #111111;
    width: 600px;
    line-height: 22px;
    margin-left: 15px;
    padding: 5px 30px 30px 30px;
	display: inline-block;
}

.box p {
    color:#aaaaaa;
    font-size: 16px;
    line-height:24px;
    padding: 0 0 10px;
    margin: 20px 0 10px 0;
}

h1 span{
    display: block;
    margin-top: 0.5em;
    font-family: Verdana,serif;
    font-size: 0.6em;
    font-weight: normal;
    letter-spacing: 0em;
    text-shadow: none;
}

.meta{
    font-family: Georgia;
    color: rgba(214, 194, 146, 0.60);
    font-size: 0.85em;
    font-style: italic;
    letter-spacing: 0.25em;
    border-bottom: 1px solid rgba(255, 212, 158, 0.20);
    padding-bottom: 0.5em;
}

.meta span{
    text-transform: capitalize;
    font-style: normal;
    color: rgba(255, 229, 163, 0.80);
}

.body p:first-child{
    font-size: 1.25em;
    font-family: Georgia;
    font-style: italic;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    letter-spacing: 0.1em;
}

.body p:first-child:first-line{
    font-weight: bold;
}

.viewport {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.viewport-horizontal {
    overflow-x: auto;
    overflow-y: hidden;
}

.viewport-horizontal .scrollable-content {
    margin: 0;
    padding: 0;
    position: absolute;
}

@media (max-width: 480px) {
    .viewport-horizontal .scrollable-content {
        width: auto;
    }
    .box {
        width: 300px;
        margin: 5px 0px 0px 0px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .viewport-horizontal .scrollable-content {
        width: 100%;
    }
    .box {
        width: 500px;
        margin-top: 15px;
    }
}

@media (min-width: 1200px) {
	.horizontal-fix {
		white-space: nowrap;
	}
    .body p{
        -moz-column-count: 2;
        -moz-column-gap: 1em;
        -webkit-column-count: 2;
        -webkit-column-gap: 1em;
        column-count: 2;
        column-gap: 1em;
        text-align: justify;
        word-spacing: -0.3ex;
    }
	.horizontal-box {
		display: inline-block;
		white-space: normal;
		vertical-align: top;
		margin-right: 20px;
	}
}